<div class="popup-overlay">
    <div class="popup-content">
        <h2>
            <div class="formClear">
                <div>Filter</div>
                <button class="assets-images"><img src="assets\interface_close-delete-cross-clear-b-a.svg" alt="back" class="iconImage" (click)="closeForm()"/></button>
            </div>
        </h2>
      <p>Category:</p>
      <select id="sortSelect" [(ngModel)]="sortOption">
        <option value="none" >Brak</option>
        <option value="trackingCode">Numerze zamówienia</option>
        <option value="status">Statusie</option>
        <option value="lastUpdated">Dacie</option>
      </select>
      <div class="sort-order">
        <label for="sortOrder"></label>
        <select id="sortOrder" [(ngModel)]="sortOrder">
          <option value="asc">Rosnąco</option>
          <option value="desc">Malejąco</option>
        </select>
      </div>
      <div class="buttons">
        <button type="button" (click)="submitForm()">
            Ok
        </button>
      </div>
    </div>
  </div>