<div class="popup-overlay">
  <div class="popup-content">
    <div class="formClear">
      <div>
        <h2>Filter</h2>
      </div>
      <button class="assets-images">
        <img src="assets\close-cross.svg" alt="back" class="iconImage" (click)="closeForm()" />
      </button>
    </div>
    <div>
      <p>Search category:</p>
    </div>
    <div class="filter-options">
      <select id="searchOptionSelect" [(ngModel)]="searchOption">
        <option value="none">None</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="specification">Specyfication</option>
      </select>
      <div class="sort-order">
        <img [src]="currentSortImagePath" alt="back" class="iconImage" (click)="toggleSort()" />
      </div>
    </div>
    <div class="buttons">
      <div>
        <button type="button" (click)="submitForm()" class="filter-image-button">
          <img [src]="filterImagePath" alt="back" class="iconImage" (click)="toggleSort()" />
        </button>
      </div>
    </div>
  </div>
</div>