<div class="popup-overlay">
  <div class="popup-content">
    <div class="buttons">
      <app-close-button (click)="closeForm()"></app-close-button>
    </div>
    <div class="overview">
      <div class="item-info">
        <div class="item-base-description">
          {{ selectedProduct.name }}
        </div>
      </div>
      <div class="image-holder">
        <button class="image-button">
          <img src="{{currentImagePath}}" alt="back" class="product-image"/>
        </button>
      </div>
      <div class="description">
        Price: {{ selectedProduct.price }} $
      </div>
      <div class="description">
        {{ selectedProduct.description }}
      </div>
    </div>
    <div class="buttons">
      <div class="submit-image-holder">
        <button type="button" (click)="submitForm()" class="add-to-cart-image-button">
          <img [src]="submitImagePath" alt="back" class="iconImage"/>
        </button>
      </div>
    </div>
  </div>
</div>
