@media screen and (orientation: portrait) {
    .product-image {
        display: flex;
        height: 100%;
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    .product-image {
        display: flex;
        height: 100%;
        width: 70%;
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 2vh;
    height: 60%;
    width: 90%;
    overflow-y: auto;
    background-color: #14AE5C;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow-y: auto;
}

.item-base-description{
  font-family: Italic, sans-serif;
  font-size: 4vh;
  font-weight: bolder;
}

.description {
  display: flex;
  justify-content: center;
  font-family: Italic, sans-serif;
  font-size: 3vh;
  font-weight: bolder;
  margin-bottom: 1vh;
}

.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
}

.image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.assets-images {
    display: flex;
    border: none;
    background: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.down-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4vw;
    z-index: 999;
    bottom: 0;
}

.navigation-arrow {
    width: 8vw;
    height: 8vh;
}

.image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 40vh;
  margin-bottom: 2vh;
}

.item-info{
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
}

.overview {
    height: 7vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   overflow-y: auto;
}


.add-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Italic, sans-serif;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 4vw;
    font-weight: bolder;
    width: 90%;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .video-frame{
    width: 45vw;
    height: 30vh;
  }

.product-text {
    margin-left: 3vw;
    font-weight: lighter;
}

.add-to-cart-image-button {
    background-color: #00FF55;
    border-color: black;
}

.iconImage {
    width: 10vw;
    height: 4vh;
}
