<div class="popup-overlay">
  <div class="popup-content">
    <div class="buttons">
      <app-close-button (click)="closeForm()"></app-close-button>
    </div>
    <div class="overview">
      <div class="item-info">
        <div class="item-base-description">
          {{ selectedProduct.name }}
        </div>
      </div>
      <div class="image-holder">
        <div class="image-button" *ngIf="mediaService.isImage(getCurrentImagePath())">
          <img src="{{currentImagePath}}" alt="back" class="product-image"/>
        </div>
        <div *ngIf="mediaService.isVideo(getCurrentImagePath())" class="video-holder">
          <video controls class="video-frame">
            <source [src]="getCurrentImagePath()" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="description">
        Price: {{ selectedProduct.price }} $
      </div>
      <div class="description">
        {{ selectedProduct.description }}
      </div>
    </div>
    <div class="buttons">
      <div class="submit-image-holder">
        <button type="button" (click)="submitForm()" class="add-to-cart-image-button">
          <img [src]="submitImagePath" alt="back" class="iconImage"/>
        </button>
      </div>
    </div>
  </div>
</div>
