.product-details-content{
  display: flex;
  flex-direction: column;
  background-color: #14AE5C;
  overflow-y: auto;
  flex: 1;
  font-family: Italic, sans-serif;
  align-items: center;
  justify-content: center;
}

.product-buy{
  display: flex;
  width: 100%;
  justify-content: center;
  height: 11vh;
}

.base-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  font-weight: bolder; 
}

.product-buy > div {
  flex: 1;
}

.product-buy > div:nth-child(2) {
  flex: 2;
  display: flex;
}

.product-image{
  width: 70vw;
  height: 30vh;
}

.image-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.assets-images {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Italic, sans-serif;
  font-size: 2vh;
  font-weight: bolder;
  color: black;
  border: none;
  background: none;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 90;
  bottom: 0;
}

.navigation-arrow{
  height: 5vh;
  width: 10vw;
}

.product-info{
  margin-top: 4vh;
  font-size: 4vw;
  font-weight: bolder;
  width: 90%; 
}

.product-text{
  margin-left: 5vw;
  font-weight: lighter;
}