<div class="product-details-content">
  <div class="product-buy">
    <div>

    </div>
    <div class="base-layout">
      <h2>{{selectedProduct.name}}</h2>
    </div>
    <div class="base-layout" (click)="openForm('add-product')">
      <img src="/assets/plus.svg" alt="back" class="plus-sign" />
    </div>
  </div>
  <div class="navigation">
    <div [class.disabled]="currentPage === 0">
      <button class="assets-images" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">
        <img src="/assets/left-arrow.svg" alt="back" class="navigation-arrow" />
      </button>
    </div>
    <div (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
      <button class="assets-images" class="image-holder">
        <img src="{{this.currentImagePath}}" alt="back" class="product-image" (click)="openForm('details')" />
      </button>
    </div>
    <div [class.disabled]="currentPage > totalPages - 2">
      <button class="assets-images" (click)="changePage(currentPage + 1)" [disabled]="currentPage > totalPages - 2">
        <img src="\assets\right-arrow.svg" alt="back" class="navigation-arrow" />
      </button>
    </div>
  </div>
  <div class="product-info">
    <div class="product-descriptioin">
      <div>
        <h3>Price:</h3>
      </div>
      <div class="product-text">
        {{ selectedProduct.price }} $
      </div>
    </div>
    <div>
      <div>
        <h3>Description:</h3>
      </div>
      <div class="product-text">
        {{ selectedProduct.description }}
      </div>
    </div>
    <div>
      <div>
        <h3>Specification:</h3>
      </div>
      <div class="product-text">
        <ul *ngFor="let specification of productSpecificationFields">
          <li>{{ specification }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isDetailsFormOpen">
  <app-product-image-overview 
    [currentImagePath]="currentImagePath" 
    [selectedProduct]="selectedProduct"
    [currentPage]="currentPage" 
    [totalPages]="totalPages" 
    (formClosed)="closeForm('details')">
  </app-product-image-overview>
</div>

<div class="overlay" *ngIf="isAddProductOpen">
  <app-product-add 
    [currentImagePath]="currentImagePath" 
    [selectedProduct]="selectedProduct" 
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (formSubmitted)="submitForm()"
    (formClosed)="closeForm('add-product')">
  </app-product-add>
</div>