<ng-container *ngIf="!showOnlyRouterContent()">
  <app-header></app-header>


  <div class="appLayout">
    <div class = mainContainer>
      <router-outlet></router-outlet>
    </div>

    <div class ="footerStyle">
      <footer>
        <h2>Gossip Shop</h2>
        <p>Copyright &copy; 2015-2024 Gossip Shop SA. All rights reserved.</p>
        <p>Personal data and privacy policy</p>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </footer>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="showOnlyRouterContent()" class="onlyRouterContent">
  <div class="mainContainer">
    <router-outlet></router-outlet>
  </div>
</ng-container>






