<div class="content">
  <div class="searchingContent">
    <div class="contentAdjust">
      <div class="sort">
        <div class="page-item">
          <button class="assets-images" (click)="openFilter()">
            <img src="\assets\filter.svg" alt="back" class="iconImage" />
          </button>
        </div>
      </div>
      <div class="search">
        <div class="findText">
          <input type="text" [(ngModel)]="searchTerm" placeholder="Find product" class="searchPlace">
        </div>
        <div>
          <button class="assets-images" (click)="search()">
            <img src="\assets\interface_search-magnifying-glass-hand-lens-b-a.svg" alt="back" class="iconImage" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ng-container *ngFor="let product of displayedProducts">
      <div class="item">
        <div>
          Name : {{ product.name }},
          Price: {{ product.price }}
          IMG: <img [src]="getProductPath(product)" alt="back" class="pico"/>
        </div>
        <div class="editOrder">
          <button (click)="openDetailsForm(product)">Details</button>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="navigation">
    <div class="page-item" [class.disabled]="currentPage === 0">
      <button class="assets-images" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">
        <img src="/assets/arrows_chevron-left-keyboard-arrow-left-b-a.svg" alt="back" class="arrow-img" />
      </button>
    </div>
    <div class="page-item">
      <button class="assets-images">{{ currentPage + 1 }}</button>
    </div>
    <div class="page-item" [class.disabled]="currentPage > totalPages - 2">
      <button class="assets-images" (click)="changePage(currentPage + 1)" [disabled]="currentPage > totalPages - 2">
        <img src="\assets\arrows_chevron-right-keyboard-arrow-right-b-a.svg" alt="back" class="arrow-img" />
      </button>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isDetailsFormOpen">
  <app-product-details [selectedProduct]="selectedProduct" [findOption]="findOption"
    (formClosed)="closeDetailsForm()">
  </app-product-details>
</div>

<div class="overlay" *ngIf="isFilterOpened">
  <app-filter [sortOption]="sortOption" [sortOrder]="sortOrder" [findOption]="findOption" (formClosed)="closeFilter()"
    (formSubmitted)="closeFilter()" (selectedSortOption)="sortOption = $event"
    (selectedSortOrder)="sortOrder = $event">
  </app-filter>
</div>