<div class="navPopup">
  <div class="navigationContent">
    <div class="itemBorder">
      <div class="navItem">
        <div>
          <button routerLink="/dashboard" class="buttonsbackgound" >Gossip Shop</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem">
        <div>
          <button routerLink="/dashboard" class="buttonsbackgound">Gossip Shop</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem">
        <div>
          <button routerLink="/dashboard" class="buttonsbackgound">Gossip Shop</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem">
        <div>
          <button routerLink="/dashboard" class="buttonsbackgound">Gossip Shop</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem">
        <div>
          <button routerLink="/dashboard" class="buttonsbackgound">Gossip Shop</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
      <div class="menu-footer">
        <div>
          <h2>Gossip Shop</h2>
        </div>
        <div>
          <p>Copyright &copy; 2015-2024 Gossip Shop SA. All rights reserved.</p>
        </div>
        <div>
          <p>Personal data and privacy policy</p>
        </div>
        <div>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>


