<div class="navPopup" #navPopup>
  <div class="navigationContent">
    <div class="itemBorder">
      <div class="navItem" routerLink="/dashboard">
        <div>
          <button class="buttonsbackgound" >Dashboard</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem" routerLink="product/category/Food">
        <div>
          <button class="buttonsbackgound">Food</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem" routerLink="product/category/Music">
        <div>
          <button routerLink="/dashboard" class="buttonsbackgound">Music</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem" routerLink="product/category/Clothes">
        <div>
          <button class="buttonsbackgound">Clothes</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem" routerLink="product/category/Electronics">
        <div>
          <button class="buttonsbackgound">Electronics</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
    <div class="itemBorder">
      <div class="navItem" routerLink="product/user">
        <div>
          <button class="buttonsbackgound">My products</button>
        </div>
        <div>
          <img src="assets/RightArrow.png"  alt="right-arrow" class="navIcon">
        </div>
      </div>
    </div>
      <div class="menu-footer">
        <div>
          <h2>Gossip Shop</h2>
        </div>
        <div>
          <p>Copyright &copy; 2015-2024 Gossip Shop SA. All rights reserved.</p>
        </div>
        <div>
          <p>Personal data and privacy policy</p>
        </div>
        <div class="links">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>


