<div class="content">
    <div class="buttons">
      <button routerLink="/order/make">Food</button>
      <button routerLink="/transport/order/free">Music</button>
      <button routerLink="/order/list">Clothes</button>
      <button routerLink="/transport/list">Electronics</button>
    </div>
  <div class="introduction">
    <div>
      <img src="/assets/Dashboard%20logo.png" alt="dash-logo" class="dash-logo"/>
    </div>
    <div class="text-info">
      From state-of-the-art gadgets to must-have tech accessories, we've got everything you need to stay connected and entertained in style.<br>
      <p>At Gossip Shop, we don't just sell products – we curate experiences. Join us on a journey where food,
      music, fashion, and technology converge to create a tapestry of excitement, innovation, and, of course, gossip-worthy moments.
      </p>
    </div>
  </div>

</div>
